[submodule "src/GamepadCore"]
	path = src/GamepadCore
	url = https://github.com/nanodeath/Dualsense-Multiplatform.git
	branch = nano-stack
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
